{
  "printWidth": 100,
  "tabWidth": 2,
  "endOfLine": "auto",
  "arrowParens": "avoid",
  "trailingComma": "none",
  "semi": true,
  "useTabs": false,
  "singleQuote": true,
  "bracketSpacing": true
}
